
#title {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255, 235, 192) 35%, rgba(255,255,255,1) 100%);
    padding: 10px;
}

.aboutMeBorder{
    border-bottom: 3px solid hsl(0, 0%, 0%);
    max-width: 70%;
    margin: auto;
    width: 70%;
    padding: 10px;
}

.aboutMeContainer {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgb(255, 235, 192) 0%, rgba(255,255,255,1) 60%);
}

#kyle {
    margin-top: auto;
    margin-bottom: auto;
}

#deployedProjects{
    padding: 10px;
}