:root {
    --shadows: rgb(165, 164, 165);
    --fontcolor: rgb(57, 57, 57);
}

* {
    font-family: Arial, Helvetica, sans-serif
}

body {
    align-items: center;
    text-align: center;
    align-content: center;
    color: var(--fontcolor);
}

header {
    background-image: linear-gradient(white, beige);
    border-radius: 25px;
    box-shadow: 20px 20px 20px var(--shadows);
    max-width: 100%;
}

#picKyle {
    max-height: 400px;
    max-width: auto;
    padding-top: 40px;
    border-radius: 50%;
}

.headTitle {
    text-align: left;
    font-size: 100px;
    font-weight: bolder;
}

.navbar {
    text-align: right;
    list-style: none;
}

.navbar li {
    padding: 30px;
    font-size: 40px;
    flex-wrap: wrap;
    display: inline-flex;
}

.navbar li a {
    color: var(--fontcolor);
    text-decoration: none;
    transition-duration: 0.3s
}

.navbar li a:hover {
    text-shadow: 10px 10px 10px var(--shadows);
}

.aboutMe, .portfolio {
    display: inline-flex;
    padding: 20px;
    text-align: center;
    align-items: center;
    border-bottom: solid;
    border-color: var(--fontcolor);
    max-width: 70%;
    min-width: 70%;
}

.aboutMe h2, .portfolio h2 {
    text-align: center;
    padding: 90px;
    font-size: 60px;
    flex: none;
}

.aboutMe p {
    font-size: 20px;
    text-align: left;
}

.portfolio li {
    list-style: none;
    font-size: 40px;
    
}

.portfolio button {
    background-color: beige;
    border: none;
    color: var(--fontcolor);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    border-radius: 20px;
    transition-duration: 0.5s;
}

.portfolio button:hover {
  box-shadow: 20px 20px 20px var(--shadows);
  font-size: 35px;
}

.buttons {
    padding: 10px;
}

footer {
    text-align: center;
}

footer li {
    list-style: none;
    display: inline;
    padding: 50px;
}

@media screen and (max-width: 1500px) {
    .portfolio {
      display: inline-block;
    }}