/* Set the background color for the body */
body {
    background-color: #f8f9fa;
    max-width: 100%;
    overflow-x: hidden;
  }
  
  /* Set the font family and font size for the entire page */
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  /* Set the font color for the headers */
  h1, h2, h3 {
    color: #343a40;
  }
  
  /* Set the font color and background color for the buttons */
  .btn {
    color: #fff;
    background-color: #007bff;
    background-image: linear-gradient(-180deg, #007bff 0%, #0069d9 100%);
    margin-bottom: 50px;
  }
  
  /* Set the font color and background color for the buttons on hover */
  .btn:hover {
    color: #fff;
    background-color: #0069d9;
    background-image: linear-gradient(-180deg, #0069d9 0%, #007bff 100%);
  }
  
  /* Add padding to the container elements */
  .container, .container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  /* Add a border to the "About Me" section */
  .aboutMeBorder {
    border-bottom: 1px solid #dee2e6;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  /* Set the font color for the footer */
  footer {
    color: #fff;
    background-color: #343a40;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  /* Set the font color for the links in the footer */
  footer a {
    color: #fff;
  }
  
  /* Set the font color for the links in the main section */
  a {
    color: #007bff;
  }
  
  /* Set the font color for the text in the main section */
  p {
    color: #6c757d;
  }

  .btn {
    background-size: cover;
    background-position: center;
  }
  
  #portfolio {
    margin-bottom: 30px;
  }